/* make scrolling smooth */
html {
    scroll-behavior: smooth;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/

body {
    padding: 0;
    margin: 0;
}

/* add some padding back to rest of page */

main {
    padding: 2vw;
}

/* logo */

.logo {
    background-image: linear-gradient(#0050b8, #001d42);
    display: flex;
    align-items: center;
}

.logo img {
    height: 15vw;
    width: 15vw;
}

.logo h1 {
    font-family: "Bungee Inline";
    font-size: 1.4rem;
    color: #FFFFFF;
}

/* navbar */

.navbar {
    background-color: #90D6FF;
    font-family: "Sarabun";
    color: #002C66;
    padding: 0;
    margin: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

/* navigation list */
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    padding: 2px;
}

/*  
 style all a tags in header 
 and then on hover
*/

.navbar a {
    color: #002C66;
    font-size: 1rem;
    padding: 1rem 1rem;
    letter-spacing: 2px;
    display: inline-block;
}

.navbar a:hover,
.navbar a:focus {
    background-color: #002C66;
    font-family: "Bungee Inline";
    color: #90D6FF;
    padding: 1rem 1rem;
    border-radius: 5rem;
    outline: none;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 8px;
}

/* Style for the bars in the hamburger icon */
.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 3px;
    background-color: #90D6FF;
    margin: 6px 0;
    transition: 0.4s;    
}

#nav-toggle:checked~.navbar {
    display: flex;
    flex-direction: column;
}

/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/

