body {
    font-family: "Gochi Hand";
    background-color:#FFD8E6;
    color: #460199;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Kaushan Script";
    font-size: 40pt;
    color: #CC566E;
}

h2 {
    font-size: 20pt;
    text-align: center;
}

header {
    text-align: center;
}

#hero, footer {
    background-color:#D2C9FF;
    border: 4px solid #7A53FA;
    text-align: center;
    font-size: 20pt;
    padding: 10px;
}

#hero img {
    width: 300px;
}

#bio {
    text-align: center;
    font-size: 15pt;
}

#hobbies ul li:nth-child(odd) {
    color: #892994;
    background-color:#ffc9e9;
    border: 4px dotted #fa53b4;
    padding: 5px;
    width: 150px;
}
#hobbies ul li:nth-child(even) {
    color: #6647d4;
    background-color:#e7c9ff;
    border: 4px solid #a93cb7;
    padding: 5px;
    width: 150px;
}

footer {
    font-family: serif;
    font-size: 10pt;
    color: #000000;
}