 body {
     font-family: "Sarabun";
     background-color: #D9F1FF;
     color: #000000;
     padding: 10px;
 }

 h1 {
     font-family: "Bungee Inline";
 }

 h2 {
     font-family: "Bungee Inline";
     font-size: 1.2rem;
     text-align: center;
     padding-top: 1rem;
     margin: 0.1em;
     color: #002C66;
 }

 h3,
 h4,
 h6 {
     font-family: "Bungee Inline";
     font-size: 1rem;
     color: #000000;
 }

 header {
     text-align: center;
 }

 /* Profile Section */

 #profile {
     margin-top: 100px;
     background-color: #FFFFFF;
     border-radius: 2rem;
     text-align: center;
     font-size: 15pt;
     align-items: center;
     padding-bottom: 10px;
 }

 #profile p {
     margin-block-start: 0;
     margin-block-end: 10px;
 }


 .profile-picture-container {
     position: relative;
     width: 150px;
     height: 150px;
     border-radius: 50%;
     padding: 15px;
     align-items: center;
     margin-bottom: 30px;
 }

 .profile-picture {
     position: absolute;
     width: 100%;
     height: 100%;
     border-radius: 50%;
     border: 5px solid #90D6FF;
     transition: opacity 0.5s ease-in-out;
     object-fit: cover;
 }

 .default-image {
     opacity: 1;
 }

 .hover-image {
     opacity: 0;
 }

 .profile-picture-container:hover .hover-image {
     opacity: 1;
 }

 .profile-picture-container:hover .default-image {
     opacity: 0;
 }

 #animation {
     color: #0064d7;
     font-size: 12pt;
 }

 /* About-me Section */

 #about-me {
     text-align: left;
     font-size: 15pt;
     text-indent: 40px;
 }

 /* Hobbies Section */

 /* General Styles for Accordion */
 .accordion {
     margin: 0;
     padding: 5px;
     list-style: none;
 }

 .accordion-item:nth-child(odd) {
     color: #FFFFFF;
     background-color: #348BFF;
     font-family: "Rubik Dirt";
     border: 4px solid #90D6FF;
     border-radius: 10px;
     width: 300px;
     margin: 5px;
 }

 .accordion-item:nth-child(even) {
     color: #0064d7;
     background-color: #FFFFFF;
     font-family: "Rubik Dirt";
     border: 4px solid #348BFF;
     border-radius: 10px;
     width: 300px;
     margin: 5px;
 }

 /* Hide the actual checkbox */
 .info-toggle {
     display: none;
 }

 /* Style for the label, which acts as the toggle button */
 .info-label {
     display: block;
     padding: 10px;
     cursor: pointer;
 }

 /* Initially hide the information content */
 .info-content {
     display: none;
     font-family: "Sarabun";
     padding: 15px;
     border-top: none;
     margin: 0px;
 }

 /* Show the content when checkbox is checked */
 .info-toggle:checked+.info-label+.info-content {
     display: block;
 }

 /* Gallery Section */
 #gallery {
     background-color: #ffffff;
     padding: 1rem 2rem;
     margin: 0;
 }

 #gallery img {
     max-width: 100%;
     box-shadow: 5px 5px 5px #002C66;
 }

 #gallery figure {
     text-align: center;
 }

 /* Literature */

 #lit {

     margin-bottom: 2rem;
 }

 #lit div {
     margin-bottom: 2rem;
     max-width: 40rem;
     margin: 0 auto;
 }

 #lit div p {
     padding: 0.3rem 0;
     clear: both;
     text-align: justify;
 }

 /* Dropcaps */

 #lit div p:nth-child(odd):first-letter {
     color: #ffffff;
     background-image: radial-gradient(#004fb7, #011d41);
     float: left;
     font-size: 3em;
     padding: 0.25em;
     margin-right: .25em;
     line-height: .65;
     border: 2px groove #90D6FF;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 10px;
     font-family: "Rubik Dirt";
     box-shadow: 2px 2px 2px #000000;
 }

 /* My Video */

 #video {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 30px;
 }

 #myVideo {
     width: 100%;
     max-width: 560px;
     height: auto;
     aspect-ratio: 16/9;
 }

 .video-caption {
     text-align: center;
     margin-top: 20px;
 }

 /* My Blog */
 #blog {
     background-color: #FFFFFF;
     text-align: center;
     font-size: 15pt;
     padding: 10px;
     align-items: center;
 }

 .np-container {
     display: block;
     align-items: center;
     justify-content: center;
     border: solid black;
 }

 .np-gallery {
     display: block;
     align-items: center;
     justify-content: center;
 }

 .np-img-box {
     width: 95%;
     height: 50px;
     margin: 10px;
     border-radius: 50px;
     background: url(/img/mountainous-desert-650w.jpg);
     background-size: cover;
     background-position: center;
     position: relative;
 }

 .np-img-box:nth-child(2) {
     background: url(/img/sand-dunes-650w.jpg);
     background-size: cover;
     background-position: center;
 }

 .np-img-box:nth-child(3) {
     background: url(/img/cholla-cactus-650w.jpg);
     background-size: cover;
     background-position: center;
 }

 .np-img-box:nth-child(4) {
     background: url(/img/joshua-trees-650w.jpg);
     background-size: cover;
     background-position: center;
 }

 .np-img-box:nth-child(5) {
     background: url(/img/tunnel-rock-650w.jpg);
     background-size: cover;
     background-position: center;
 }

 .np-img-box:nth-child(6) {
     background: url(/img/tunnel-log-650w.jpg);
     background-size: cover;
     background-position: center;
 }

 .np-img-box:nth-child(7) {
     background: url(/img/tunnel-view-650w.jpg);
     background-size: cover;
     background-position: center;
 }

 .np-img-box:nth-child(8) {
     background: url(/img/half-dome-650w.jpg);
     background-size: cover;
     background-position: center;
 }

 .np-img-box:nth-child(9) {
     background: url(/img/merced-river-650w.jpg);
     background-size: cover;
     background-position: center;
 }

 .np-img-box:nth-child(10) {
     background: url(/img/canyon-650w.jpg);
     background-size: cover;
     background-position: center;
 }

 .np-img-box:nth-child(11) {
     background: url(/img/canyon-trails-650w.jpg);
     background-size: cover;
     background-position: center;
 }

 .np-img-box:nth-child(12) {
     background: url(/img/canyon-sunset-650w.jpg);
     background-size: cover;
     background-position: center;
 }

 .np-img-box:nth-child(13) {
     background: url(/img/bison-650w.jpg);
     background-size: cover;
     background-position: center;
 }

 .np-img-box:nth-child(14) {
     background: url(/img/geysers-650w.jpg);
     background-size: cover;
     background-position: center;
 }

 .np-img-box:nth-child(15) {
     background: url(/img/\ mammoth-hot-springs-650w.jpg);
     background-size: cover;
     background-position: center;
 }

 .np-img-box h4 {
     position: absolute;
     text-align: center;
 }

 .np-img-box h3 {
     color: #ffffff;
     position: absolute;
     top: 0;
     left: 50%;
     transform: translateX(-50%);
     text-align: center;
     width: 100%;
     margin-top: 10px;
     opacity: 0;
 }

 .np-img-box p {
     color: #ffffff;
     text-align: center;
     bottom: 0;
     margin: 0;
 }

 .np-img-box:hover {
     width: 95%;
     height: 250px;
     margin: 10px;
     border-radius: 50px;
     background-size: cover;
     background-position: center;
     position: relative;
     cursor: pointer;
 }

 .np-img-box:hover h3 {
     opacity: 1;
 }

 .np-img-box:hover p {
     position: absolute;
     bottom: 0;
     left: 50%;
     width: 40%;
     border-radius: 50px;
     padding: 10px;
     color: #ffffff;
     text-align: center;
     margin-block-start: 0;
     margin-block-end: 0;
     background-color: rgba(0, 0, 0, 0.5);
     font-size: 14px;
     transform: translateX(-50%);
     color: #ffffff;
     text-align: center;
 }

h5 {
    text-align: left;
    font-family: "Sarabun";
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 0;
    text-decoration-line: underline;
 }

 .content-blog p {
    text-align: left;
    font-family: "Sarabun";
    text-indent: 50px;
    margin-top: 5px;
 }

 .content-blog img {
    width: 80%;
    border: 5px solid #000000;
    box-shadow: 8px 8px 8px #002C66;
    margin: 8px;
 }



 /* Contact Form */

 #formElements {
     display: grid;
     row-gap: .5em;
 }

 #contact {
     padding: 1rem;
     max-width: 600px;
     margin: 2rem auto;
 }

 fieldset {
     border: 2px solid #6647d4;
     margin-top: 1em;
     margin-left: 1em;
 }

 legend {
     background-color: #D2C9FF;
     padding: .5em;
 }

 #contact input,
 #contact textarea,
 #contact select,
 #contact button {
     padding: .5em;
     font-size: 1rem;
 }

 #contact ul {
     list-style: none;
     padding: 0px;
 }

 #contact li {
     margin: 1rem;
 }

 #contact button {
     background-color: #D2C9FF;
     color: #472557;
     border: 2px solid #472557;
     max-width: 400px;
     width: 50%;
     justify-self: center;
 }

 /* Footer Section */

 footer {
     font-family: "Sarabun";
     font-size: 10pt;
     color: #000000;
     background-color: #FFFFFF;
     text-align: center;
     padding: 10px;
 }

 /* Tablet size */

 @media screen and (min-width: 600px) {

     h2 {
         text-align: left;
     }

     /* Profile Section */

     #profile {
         margin-top: 150px;
         background-color: #FFFFFF;
         border-radius: 2rem;
         text-align: center;
         font-size: 15pt;
         align-items: center;
         padding-bottom: 10px;
         max-width: 100%;
         height: auto;
         columns: 20rem;
         display: grid;
         grid-template-columns: 1fr 2fr;
     }

     .profile-picture-container {
         margin-left: 30px;
         transform: translateY(-230%);
     }

     #profile p {
         margin-block-start: 0;
         margin-block-end: 10px;
         text-align: left;
     }

     .profile-picture {
         position: absolute;
         width: 180px;
         height: 180px;
         border-radius: 50%;
         border: 5px solid #90D6FF;
         transition: opacity 0.5s ease-in-out;
         object-fit: cover;
     }

     .default-image {
         opacity: 1;
     }

     .hover-image {
         opacity: 0;
     }

     .profile-picture-container:hover .hover-image {
         opacity: 1;
     }

     .profile-picture-container:hover .default-image {
         opacity: 0;
     }

     #animation {
         color: #0064d7;
         font-size: 12pt;
     }

     /* Hobbies Section */
     .accordion-item:nth-child(odd) {
         color: #FFFFFF;
         background-color: #348BFF;
         font-family: "Rubik Dirt";
         border: 4px solid #90D6FF;
         border-radius: 10px;
         width: 500px;
         margin: 5px;
     }

     .accordion-item:nth-child(even) {
         color: #0064d7;
         background-color: #FFFFFF;
         font-family: "Rubik Dirt";
         border: 4px solid #348BFF;
         border-radius: 10px;
         width: 500px;
         margin: 5px;
     }

     /* Gallery Section */

     figure {
         display: block;
         width: 80%;
         align-items: center;
         justify-content: center;
     }

     figcaption {
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 1.5rem;
         padding-top: 10px;
     }

     /* My Video */
     #myVideo {
         max-width: 100%;
     }

 }

 /* Large Sreen size */

 @media screen and (min-width: 1000px) {
     #gallery {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
     }

     hr {
         display: none;
     }

     h2 {
         grid-column: 1/-1;
     }

  .profile-picture-container {
     position: relative;
     width: 250px;
     height: 250px;
     border-radius: 50%;
     padding: 15px;
     align-items: center;
     margin-bottom: 30px;
 }

     /* Gallery Section */
     figure {
         display: block;
     }

     figcaption {
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 1rem;
         padding-top: 10px;
     }

     /* Literature */
     #lit div {
         max-width: 90%;
         columns: 2 20rem;
         column-gap: 20px;
         padding: 10px;
     }

     /* My Blog */

     .np-container {
         width: 100%;
         height: fit-content;
         display: flex;
         align-items: center;
         justify-content: flex-start;
         overflow-x: auto;
         margin: 0 auto;
     }

     .np-gallery {
         display: flex;
         align-items: center;
         justify-content: flex-start;
         flex-wrap: inherit;
         padding: 5px 0;
         gap: 8px;

     }

     .np-img-box {
         width: 60px;
         height: 520px;
         margin: 10px;
         background-size: cover;
         background-position: center;
         transition: width 0.3s ease, margin 0.3s ease;
         position: relative;
     }

     .np-img-box h3 {
         color: #ffffff;
         position: absolute;
         top: 0;
         left: 50%;
         transform: translateX(-50%);
         text-align: center;
         width: 100%;
         margin-top: 10px;
         opacity: 0;
     }

     .np-img-box p {
         color: #ffffff;
         text-align: center;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%) rotate(-90deg);
         white-space: nowrap;
         align-items: center;
         display: flex;
         justify-content: center;
     }

     .np-img-box:hover {
         width: 650px;
         height: 520px;
         border-radius: 50px;
         background-size: cover;
         background-position: center;
         cursor: pointer;
     }

     .np-img-box:hover p {
         bottom: 0;
         text-align: center;
         margin-top: 200px;
         transform: translateX(-50%);
         width: fit-content;
         height: fit-content;
         padding: 10px;
     }

     .content-blog h3 {
        text-align: left;
     }

     .content-blog h5 {
        text-align: left;
        font-family: "Sarabun";
        font-weight: bold;
     }

     .content-blog img {
        height: 450px;
        width: auto;
        border: 5px solid #000000;
        box-shadow: 8px 8px 8px #002C66;
        margin: 8px;
     }

 }
